<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.BannerMapper">

    <select id="selectByExample" parameterType="java.util.Map" resultType="Banner">
        SELECT * FROM banner
        <where>

            <if test="id != null and id !=''">
               id = #{id}
            </if>
            <if test="banner_img != null and banner_img !=''">
                and banner_img = #{banner_img}
            </if>
            <if test="banner_title_context != null and banner_title_context !=''">
                and banner_title_context = #{banner_title_context}
            </if>
            <if test="bannerTitleContext != null and bannerTitleContext !=''">
                and instr(banner_title_context,#{bannerTitleContext})>0
            </if>
            <if test="banner_title_intro != null and banner_title_intro !=''">
                and banner_title_intro = #{banner_title_intro}
            </if>
            <if test="createtime != null and createtime !=''">
                and create_time = #{createtime}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <choose>
                <when test="status != null and status != ''">
                    and status = #{status}
                </when>
                <when test="status == ''">
                    and status <![CDATA[ <> ]]> -1
                </when>
                <otherwise>
                    and status <![CDATA[ > ]]> 0
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Banner">
        insert into  banner
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="bannerImg != null and bannerImg !=''">
                banner_img ,
            </if>
            <if test="bannerTitleContext != null and bannerTitleContext !=''">
                banner_title_context ,
            </if>
            <if test="bannerTitleIntro != null and bannerTitleIntro !=''">
                banner_title_intro ,
            </if>
            <if test="createTime != null and createTime !=''">
                create_time ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="bannerUrl != null and bannerUrl !=''">
                banner_Url ,
            </if>
            <if test="type != null and type !=''">
                type ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="bannerImg != null and bannerImg !=''">
                #{bannerImg} ,
            </if>
            <if test="bannerTitleContext != null and bannerTitleContext !=''">
                #{bannerTitleContext} ,
            </if>
            <if test="bannerTitleIntro != null and bannerTitleIntro !=''">
                #{bannerTitleIntro} ,
            </if>
            <if test="createTime != null and createTime !=''">
                #{createTime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="bannerUrl != null and bannerUrl != ''">
                #{bannerUrl},
            </if>
            <if test="type != null and type != ''">
                #{type},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Banner">
        update banner
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="bannerImg != null and bannerImg !=''">
                banner_img =#{bannerImg,jdbcType=VARCHAR},
            </if>
            <if test="bannerTitleContext != null and bannerTitleContext !=''">
                banner_title_context=#{bannerTitleContext,jdbcType=VARCHAR} ,
            </if>
            <if test="bannerTitleIntro != null and bannerTitleIntro !=''">
                banner_title_intro=#{bannerTitleIntro,jdbcType=VARCHAR} ,
            </if>
            <if test="createTime != null and createTime !=''">
                create_time =#{createTime,jdbcType=VARCHAR},
            </if>
            <!--<if test="bannerUrl != null and bannerUrl !=''">-->
                banner_Url =#{bannerUrl,jdbcType=VARCHAR},
            <!--</if>-->
            <if test="type != null and type !=''">
                type =#{type,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status =#{status,jdbcType=INTEGER},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update banner
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="Banner">
       select * from banner WHERE id = #{id}
    </select>
</mapper>