<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.CollaborationMapper">

    <select id="selectByExample" parameterType="java.util.Map" resultType="Collaboration">
        SELECT * FROM collaboration
        <where>
            <if test="ID != null and ID !=''">
            and ID = #{ID}
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                and PEOPLE_ID = #{PEOPLE_ID}
            </if>
            <if test="COURSE_NAME != null and COURSE_NAME !=''">
                and COURSE_NAME = #{COURSE_NAME}
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                and STARTTIME = #{STARTTIME}
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                and ENDTIME = #{ENDTIME}
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                and CREATETIME = #{CREATETIME}
            </if>
            <choose>
                <when test="status != null and status != ''">
                    and status = #{status}
                </when>
                <when test="status == ''">
                    and status <![CDATA[ <> ]]> -1
                </when>
                <otherwise>
                    and status <![CDATA[ > ]]> 0
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Collaboration">
        insert into  collaboration
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ID != null and ID !=''">
                 ID,
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                 PEOPLE_ID ,
            </if>
            <if test="COURSE_NAME != null and COURSE_NAME !=''">
                 COURSE_NAME ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                 STARTTIME ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                 ENDTIME ,
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                 CREATETIME ,
            </if>
            <if test="STATUS != null">
                 STATUS ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ID != null and ID !=''">
                #{ID},
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                #{PEOPLE_ID} ,
            </if>
            <if test="COURSE_NAME != null and COURSE_NAME !=''">
                #{COURSE_NAME} ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                #{STARTTIME} ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                #{ENDTIME} ,
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                #{CREATETIME} ,
            </if>
            <if test="STATUS != null">
                #{STATUS},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Collaboration">
        update collaboration
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
            <if test="ID != null and ID !=''">
                ID = #{ID},
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                PEOPLE_ID =#{PEOPLE_ID},
            </if>
            <if test="COURSE_NAME != null and COURSE_NAME !=''">
                COURSE_NAME=#{COURSE_NAME} ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                STARTTIME=#{STARTTIME} ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                ENDTIME =#{ENDTIME},
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                CREATETIME =#{CREATETIME},
            </if>
            <if test="STATUS != null">
                STATUS =#{STATUS},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update collaboration
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="Collaboration">
       select * from collaboration WHERE ID=#{ID}
    </select>
</mapper>