<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.CoursesMapper">

    <resultMap id="coursesMap" type="Courses">
        <id column="id" property="id"/>
        <result column="people_id" property="peopleId"/>
        <result column="course_name" property="courseName"/>
        <result column="starttime" property="starttime"/>
        <result column="endtime" property="endtime"/>
        <result column="createtime" property="createtime"/>
        <result column="status" property="status"/>
        <result column="bg_img" property="bg_img"/>
        <result column="peopleName" property="peopleName"/>
    </resultMap>

    <select id="query_courses" parameterType="java.util.Map" resultMap="coursesMap">
        select people.name peopleName, courses.* from courses
        left join people on people.id = courses.people_id
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="peopleId != null and peopleId !=''">
                and people_id = #{peopleId}
            </if>
            <if test="courseName != null and courseName !=''">
                and course_name = #{courseName}
            </if>
            <if test="starttime != null and starttime !=''">
                and starttime = #{starttime}
            </if>
            <if test="endtime != null and endtime !=''">
                and endtime = #{endtime}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <if test="peopleName != null and peopleName !=''">
                and instr(people.name,#{peopleName}) > 0
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="coursesMap">
        SELECT * FROM courses
        <where>
            and status <![CDATA[ <> ]]> -1
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="peopleId != null and peopleId !=''">
                and people_id = #{peopleId}
            </if>
            <if test="courseName != null and courseName !=''">
                and course_name = #{courseName}
            </if>
            <if test="starttime != null and starttime !=''">
                and starttime = #{starttime}
            </if>
            <if test="endtime != null and endtime !=''">
                and endtime = #{endtime}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Courses">
        insert into  courses
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="peopleId != null and peopleId !=''">
                 people_id ,
            </if>
            <if test="courseName != null and courseName !=''">
                 course_name ,
            </if>
            <if test="starttime != null and starttime !=''">
                 starttime ,
            </if>
            <if test="endtime != null and endtime !=''">
                 endtime ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="peopleId != null and peopleId !=''">
                #{peopleId} ,
            </if>
            <if test="courseName != null and courseName !=''">
                #{courseName} ,
            </if>
            <if test="starttime != null and starttime !=''">
                #{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                #{endtime} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="bg_img != null and bg_img !=''">
                #{bg_img},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Courses">
        update courses
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="peopleId != null and peopleId !=''">
                people_id =#{peopleId},
            </if>
            <if test="courseName != null and courseName !=''">
                course_name=#{courseName} ,
            </if>
            <if test="starttime != null and starttime !=''">
                starttime=#{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                endtime =#{endtime},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img =#{bg_img},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update courses
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="coursesMap">
       select * from courses WHERE id=#{id}
    </select>
</mapper>