<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.MediaMapper">

    <resultMap id="mediaMap" type="Media">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="release_date" property="releaseDate"/>
        <result column="createtime" property="createtime"/>
        <result column="status" property="status"/>
        <result column="img" property="img"/>
    </resultMap>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="mediaMap">
        SELECT * FROM media
        <where>
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="title != null and title !=''">
                and title = #{title}
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                and RELEASe_DATE = #{releaseDate}
            </if>
            <if test="content != null and content !=''">
                and content = #{content}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Media">
        insert into  media
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="title != null and title !=''">
                title ,
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                release_date ,
            </if>
            <if test="content != null and content !=''">
                content ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null and status !=''">
                 status ,
            </if>
            <if test="img != null and img !=''">
                img ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="title != null and title !=''">
                #{title} ,
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                #{releaseDate} ,
            </if>
            <if test="content != null and content !=''">
                #{content} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null and status !=''">
                #{status},
            </if>
            <if test="img != null and img !=''">
                #{img},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Media">
        update media
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="title != null and title !=''">
                title =#{title},
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                release_dates=#{releaseDate} ,
            </if>
            <if test="content != null and content !=''">
                content=#{content} ,
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null and status !=''">
                status =#{status},
            </if>
            <if test="img != null and img !=''">
                img =#{img},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update media
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
                STATUS =0,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="mediaMap">
       select * from media WHERE id=#{id}
    </select>
</mapper>