<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.PeopleMapper">

    <select id="selectByExample" parameterType="java.util.Map" resultType="People">
        SELECT * FROM People
        <where>
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="gender != null and gender !=''">
                and gender = #{gender}
            </if>
            <if test="age != null and age !=''">
                and age = #{age}
            </if>
            <if test="phone != null and phone !=''">
                and phone = #{phone}
            </if>
            <if test="path != null and path !=''">
                and path = #{path}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
            <if test="page != null and limit !=''">
                limit #{page},#{limit}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="People">
        insert into  People
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="name != null and name !=''">
                name ,
            </if>
            <if test="gender != null and gender !=''">
                gender ,
            </if>
            <if test="age != null and age !=''">
                age ,
            </if>
            <if test="phone != null and phone !=''">
                phone ,
            </if>
            <if test="path != null and path !=''">
                path ,
            </if>
            <if test="type != null and type !=''">
                type ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null and status !=''">
                 status ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name} ,
            </if>
            <if test="gender != null and gender !=''">
                #{gender} ,
            </if>
            <if test="age != null and age !=''">
                #{age} ,
            </if>
            <if test="phone != null and phone !=''">
                #{phone} ,
            </if>
            <if test="path != null and path !=''">
                #{path} ,
            </if>
             <if test="type != null and type !=''">
                #{type} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null and status !=''">
                #{status},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="People">
        update People
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="name != null and name !=''">
                name =#{name},
            </if>
            <if test="gender != null and gender !=''">
                gender=#{gender} ,
            </if>
            <if test="age != null and age !=''">
                age=#{age} ,
            </if>
            <if test="phone != null and phone !=''">
                phone=#{phone} ,
            </if>
            <if test="path != null and path !=''">
                path =#{path},
            </if>
             <if test="type != null and type !=''">
                 type =#{type},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null and status !=''">
                status =#{status},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update People
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
                status =0,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="People">
       select * from People WHERE id=#{id}
    </select>
</mapper>