<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.PeopleMapper">

    <select id="selectByExample" parameterType="java.util.Map" resultType="People">
        SELECT * FROM people
        <where>
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and instr(name,#{name}) > 0
            </if>
            <if test="gender != null and gender !=''">
                and gender = #{gender}
            </if>
            <if test="age != null and age !=''">
                and age = #{age}
            </if>
            <if test="phone != null and phone !=''">
                and phone = #{phone}
            </if>
            <if test="path != null and path !=''">
                and path = #{path}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by duty_num desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="People">
        insert into  people
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="name != null and name !=''">
                name ,
            </if>
            <if test="gender != null and gender !=''">
                gender ,
            </if>
            <if test="age != null and age !=''">
                age ,
            </if>
            <if test="phone != null and phone !=''">
                phone ,
            </if>
            <if test="path != null and path !=''">
                path ,
            </if>
            <if test="type != null and type !=''">
                type ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="duty != null and duty !=''">
                duty ,
            </if>
            <if test="dutyNum != null and dutyNum !=''">
                duty_num ,
            </if>
            <if test="introUrl != null and introUrl !=''">
                intro_url ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name} ,
            </if>
            <if test="gender != null and gender !=''">
                #{gender} ,
            </if>
            <if test="age != null and age !=''">
                #{age} ,
            </if>
            <if test="phone != null and phone !=''">
                #{phone} ,
            </if>
            <if test="path != null and path !=''">
                #{path} ,
            </if>
             <if test="type != null and type !=''">
                #{type} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="duty != null and duty !=''">
                #{duty},
            </if>
            <if test="dutyNum != null and dutyNum !=''">
                #{dutyNum},
            </if>
            <if test="introUrl != null and introUrl !=''">
                #{introUrl},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="People">
        update people
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="name != null and name !=''">
                name =#{name},
            </if>
            <if test="gender != null and gender !=''">
                gender=#{gender} ,
            </if>
            <if test="age != null and age !=''">
                age=#{age} ,
            </if>
            <if test="phone != null and phone !=''">
                phone=#{phone} ,
            </if>
            <if test="path != null and path !=''">
                path =#{path},
            </if>
             <if test="type != null and type !=''">
                 type =#{type},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="duty != null and duty !=''">
                duty =#{duty},
            </if>
            <if test="dutyNum != null and dutyNum !=''">
                duty_num = #{dutyNum},
            </if>
            <if test="introUrl != null and introUrl !=''">
                insto_url = #{introUrl},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update people
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="People">
       select * from people WHERE id=#{id}
    </select>

    <select id="query_professor" resultType="People">
        select id,name from people where type = 2 and status <![CDATA[ <> ]]> -1   order by id desc
    </select>
</mapper>