<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.ProjectMapper">
    <resultMap id="projectMap" type="Project">
        <id column="id" property="id"/>
        <result column="main_title" property="main_title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="share_people" property="share_people"/>
        <result column="share_shcool" property="share_shcool"/>
        <result column="content" property="content" />
        <result column="type" property="type"/>
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="bg_img" property="bg_img" />
        <result column="project_file" property="project_file" />
    </resultMap>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="projectMap">
        SELECT * FROM project
        <where>
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="main_title != null and main_title !=''">
                and instr(main_title,#{main_title}) > 0
            </if>
            <if test="subtitle != null and subtitle !=''">
                and instr(subtitle,#{subtitle}) > 0
            </if>
            <if test="share_people != null and share_people !=''">
                and share_people = #{share_people}
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                and share_shcool = #{share_shcool}
            </if>
            <if test="content != null and content !=''">
                and content = #{content}
            </if>
            <if test="type != null and type !=''">
                and type = #{type}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Project">
        insert into  project
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="main_title != null and main_title !=''">
                 main_title ,
            </if>
            <if test="subtitle != null and subtitle !=''">
                 subtitle ,
            </if>
            <if test="share_people != null and share_people !=''">
                 share_people ,
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                 share_shcool ,
            </if>
             <if test="content != null and content !=''">
                 content ,
            </if>
             <if test="type != null and type !=''">
                 type ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img ,
            </if>
            <if test="project_file != null and project_file !=''">
                project_file ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="main_title != null and main_title !=''">
                #{main_title} ,
            </if>
            <if test="subtitle != null and subtitle !=''">
                #{subtitle} ,
            </if>
            <if test="share_people != null and share_people !=''">
                #{share_people} ,
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                #{share_shcool} ,
            </if>
             <if test="content != null and content !=''">
                #{content} ,
            </if>
             <if test="type != null and type !=''">
                #{type} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="bg_img != null and bg_img !=''">
                #{bg_img},
            </if>
            <if test="project_file != null and project_file !=''">
                #{project_file},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Project">
        update project
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="main_title != null and main_title !=''">
                main_title =#{main_title},
            </if>
            <if test="subtitle != null and subtitle !=''">
                subtitle=#{subtitle} ,
            </if>
            <if test="share_people != null and share_people !=''">
                share_people=#{share_people} ,
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                share_shcool =#{share_shcool},
            </if>
             <if test="content != null and content !=''">
                 content =#{content},
            </if>
             <if test="type != null and type !=''">
                 type =#{type},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img =#{bg_img},
            </if>
            <if test="project_file != null and project_file !=''">
                project_file =#{project_file},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update project
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="projectMap">
       select * from project WHERE id=#{id}
    </select>

    <select id="query_publication" parameterType="java.util.Map" resultMap="projectMap">
        SELECT * FROM project
        <where>
            and type = 1
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="main_title != null and main_title !=''">
                and instr(main_title,#{main_title}) > 0
            </if>
            <if test="subtitle != null and subtitle !=''">
                and instr(subtitle,#{subtitle}) > 0
            </if>
            <if test="share_people != null and share_people !=''">
                and share_people = #{share_people}
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                and share_shcool = #{share_shcool}
            </if>
            <if test="content != null and content !=''">
                and content = #{content}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="query_activities" parameterType="java.util.Map" resultMap="projectMap">
        SELECT * FROM project
        <where>
            and type != 1
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="main_title != null and main_title !=''">
                and instr(main_title,#{main_title}) > 0
            </if>
            <if test="subtitle != null and subtitle !=''">
                and instr(subtitle,#{subtitle}) > 0
            </if>
            <if test="share_people != null and share_people !=''">
                and share_people = #{share_people}
            </if>
            <if test="share_shcool != null and share_shcool !=''">
                and share_shcool = #{share_shcool}
            </if>
            <if test="content != null and content !=''">
                and content = #{content}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="findYears" parameterType="java.util.Map" resultType="java.util.Map">
        select left(CREATETIME,4) year from project where TYPE=1 group by left(CREATETIME,4) order by left(CREATETIME,4) desc;
    </select>
</mapper>