<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.ReferenceMapper">

    <resultMap id="referenceMap" type="Reference">
        <id column="id" property="id"/>
        <result column="people_id" property="peopleId"/>
        <result column="reference_name" property="referenceName"/>
        <result column="starttime" property="starttime"/>
        <result column="endtime" property="endtime"/>
        <result column="createtime" property="createtime"/>
        <result column="status" property="status"/>
        <result column="intro" property="intro"/>
        <result column="reference" property="reference"/>
        <result column="bg_img" property="bgImg"/>
        <result column="peopleName" property="peopleName"/>
    </resultMap>

    <select id="query_reference" parameterType="java.util.Map" resultMap="referenceMap">
        select reference.*, people.name peopleName from reference
        left join people on people.id = reference.people_id
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="peopleId != null and peopleId !=''">
                and people_id = #{peopleId}
            </if>
            <if test="referenceName != null and referenceName !=''">
                and reference_name = #{referenceName}
            </if>
            <if test="starttime != null and starttime !=''">
                and starttime = #{starttime}
            </if>
            <if test="endtime != null and endtime !=''">
                and endtime = #{endtime}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <if test="peopleName != null and peopleName !=''">
                and instr(people.name,#{peopleName}) > 0
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
         order by id desc
    </select>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="referenceMap">
        SELECT * FROM reference
        <where>
            <if test="ID != null and ID !=''">
            and ID = #{ID}
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                and PEOPLE_ID = #{PEOPLE_ID}
            </if>
            <if test="REFERENCE_NAME != null and REFERENCE_NAME !=''">
                and REFERENCE_NAME = #{REFERENCE_NAME}
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                and STARTTIME = #{STARTTIME}
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                and ENDTIME = #{ENDTIME}
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                and CREATETIME = #{CREATETIME}
            </if>
            <if test="YEAR != null and YEAR !=''">
                and instr(CREATETIME,#{YEAR})>0
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Reference">
        insert into  reference
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="peopleId != null and peopleId !=''">
                 people_id ,
            </if>
            <if test="referenceName != null and referenceName !=''">
                 reference_name ,
            </if>
            <if test="starttime != null and starttime !=''">
                 starttime ,
            </if>
            <if test="endtime != null and endtime !=''">
                 endtime ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="intro != null and intro !=''">
                intro ,
            </if>
            <if test="reference != null and reference !=''">
                reference ,
            </if>
            <if test="bgImg != null and bgImg !=''">
                bg_img ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="peopleId != null and peopleId !=''">
                #{peopleId} ,
            </if>
            <if test="referenceName != null and referenceName !=''">
                #{referenceName} ,
            </if>
            <if test="starttime != null and starttime !=''">
                #{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                #{endtime} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="intro != null and intro !=''">
                #{intro},
            </if>
            <if test="reference != null and reference !=''">
                #{reference},
            </if>
            <if test="bgImg != null and bgImg !=''">
                #{bgImg},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Reference">
        update reference
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="peopleId != null and peopleId !=''">
                people_id =#{peopleId},
            </if>
            <if test="referenceName != null and referenceName !=''">
                reference_name=#{referenceName} ,
            </if>
            <if test="starttime != null and starttime !=''">
                starttime=#{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                endtime =#{endtime},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="intro != null and intro !=''">
                intro =#{intro},
            </if>
            <if test="reference != null and reference !=''">
                reference =#{reference},
            </if>
            <if test="bgImg != null and bgImg !=''">
                bg_img =#{bgImg},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update reference
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="referenceMap">
       select * from reference WHERE id=#{id}
    </select>
</mapper>