<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.ReferenceMapper">

    <select id="selectByExample" parameterType="java.util.Map" resultType="Courses">
        SELECT * FROM Courses
        <where>
            <if test="ID != null and ID !=''">
            and ID = #{ID}
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                and PEOPLE_ID = #{PEOPLE_ID}
            </if>
            <if test="REFERENCE_NAME != null and REFERENCE_NAME !=''">
                and REFERENCE_NAME = #{REFERENCE_NAME}
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                and STARTTIME = #{STARTTIME}
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                and ENDTIME = #{ENDTIME}
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                and CREATETIME = #{CREATETIME}
            </if>
            <if test="STATUS != null and STATUS !=''">
                and STATUS = #{STATUS}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Courses">
        insert into  Courses
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ID != null and ID !=''">
                 ID,
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                 PEOPLE_ID ,
            </if>
            <if test="REFERENCE_NAME != null and REFERENCE_NAME !=''">
                 REFERENCE_NAME ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                 STARTTIME ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                 ENDTIME ,
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                 CREATETIME ,
            </if>
            <if test="STATUS != null and STATUS !=''">
                 STATUS ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="ID != null and ID !=''">
                #{ID},
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                #{PEOPLE_ID} ,
            </if>
            <if test="REFERENCE_NAME != null and REFERENCE_NAME !=''">
                #{REFERENCE_NAME} ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                #{STARTTIME} ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                #{ENDTIME} ,
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                #{CREATETIME} ,
            </if>
            <if test="STATUS != null and STATUS !=''">
                #{STATUS},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Courses">
        update Courses
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
            <if test="ID != null and ID !=''">
                ID = #{ID},
            </if>
            <if test="PEOPLE_ID != null and PEOPLE_ID !=''">
                PEOPLE_ID =#{PEOPLE_ID},
            </if>
            <if test="REFERENCE_NAME != null and REFERENCE_NAME !=''">
                REFERENCE_NAME=#{REFERENCE_NAME} ,
            </if>
            <if test="STARTTIME != null and STARTTIME !=''">
                STARTTIME=#{STARTTIME} ,
            </if>
            <if test="ENDTIME != null and ENDTIME !=''">
                ENDTIME =#{ENDTIME},
            </if>
            <if test="CREATETIME != null and CREATETIME !=''">
                CREATETIME =#{CREATETIME},
            </if>
            <if test="STATUS != null and STATUS !=''">
                STATUS =#{STATUS},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update Courses
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{ID} ">
                STATUS =0,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="Courses">
       select * from Courses WHERE ID=#{ID}
    </select>
</mapper>