<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.ShareMapper">

    <resultMap id="shareMap" type="Share">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="release_date" property="releaseDate"/>
        <result column="createtime" property="createtime"/>
        <result column="status" property="status"/>
        <result column="img" property="img"/>
        <result column="share_file" property="shareFile"/>
        <result column="file_name" property="fileName"/>
        <result column="file_size" property="fileSize"/>
    </resultMap>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="shareMap">
        SELECT * FROM share
        <where>
            <if test="id != null and id !=''">
                and id = #{id}
            </if>
            <if test="title != null and title !=''">
                and title = #{title}
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                and release_date = #{releaseDate}
            </if>
            <if test="content != null and content !=''">
                and content = #{content}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != ''">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by release_date desc,id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="Share">
        insert into share
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                id,
            </if>
            <if test="title != null and title !=''">
                title ,
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                release_date ,
            </if>
            <if test="content != null and content !=''">
                content ,
            </if>
            <if test="createtime != null and createtime !=''">
                createtime ,
            </if>
            <if test="status != null">
                status ,
            </if>
            <if test="img != null and img !=''">
                img ,
            </if>
            <if test="shareFile != null and shareFile !=''">
                share_file ,
            </if>
            <if test="fileName != null and fileName !=''">
                file_name ,
            </if>
            <if test="fileSize != null and fileSize !=''">
                file_size ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="title != null and title !=''">
                #{title} ,
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                #{releaseDate} ,
            </if>
            <if test="content != null and content !=''">
                #{content} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="img != null and img !=''">
                #{img},
            </if>
            <if test="shareFile != null and shareFile !=''">
                #{shareFile},
            </if>
            <if test="fileName != null and fileName !=''">
                #{fileName},
            </if>
            <if test="fileSize != null and fileSize !=''">
                #{fileSize},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="Share">
        update share
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="title != null and title !=''">
                title =#{title},
            </if>
            <if test="releaseDate != null and releaseDate !=''">
                release_date=#{releaseDate} ,
            </if>
            <if test="content != null and content !=''">
                content=#{content} ,
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="img != null and img !=''">
                img =#{img},
            </if>
            <if test="shareFile != null and shareFile !=''">
                share_file =#{shareFile},
            </if>
            <if test="fileName != null and fileName !=''">
                file_name =#{fileName},
            </if>
            <if test="fileSize != null and fileSize !=''">
                file_size =#{fileSize},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update share
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="shareMap">
       select * from share WHERE id=#{id}
    </select>
    <select id="findYears"  parameterType="java.util.Map" resultType="java.util.Map">
       select left(CREATETIME,4) year from share where  status <![CDATA[ <> ]]> 0 group by left(CREATETIME,4) order by left(CREATETIME,4) desc;
    </select>

</mapper>