<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.SummweCampMapper">
    <resultMap id="summweCampMap" type="SummweCamp">
        <id column="id" property="id"/>
        <result column="people_id" property="peopleId"/>
        <result column="course_name" property="courseName"/>
        <result column="starttime" property="starttime"/>
        <result column="endtime" property="endtime"/>
        <result column="createtime" property="createtime"/>
        <result column="status" property="status"/>
        <result column="intro" property="intro"/>
        <result column="bg_img" property="bg_img"/>
    </resultMap>

    <select id="selectByExample" parameterType="java.util.Map" resultMap="summweCampMap">
        SELECT * FROM summwe_camp
        <where>
            <if test="id != null and id !=''">
            and id = #{id}
            </if>
            <if test="name != null and name !=''">
                and name = #{name}
            </if>
            <if test="starttime != null and starttime !=''">
                and starttime = #{starttime}
            </if>
            <if test="endtime != null and endtime !=''">
                and endtime = #{endtime}
            </if>
            <if test="createtime != null and createtime !=''">
                and createtime = #{createtime}
            </if>
            <choose>
                <when test="status != null and status != null">
                    and status = #{status}
                </when>
                <otherwise>
                    and status <![CDATA[ <> ]]> -1
                </otherwise>
            </choose>
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="SummweCamp">
        insert into  summwe_camp
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                 id,
            </if>
            <if test="name != null and name !=''">
                 name ,
            </if>
            <if test="starttime != null and starttime !=''">
                 starttime ,
            </if>
            <if test="endtime != null and endtime !=''">
                 endtime ,
            </if>
            <if test="createtime != null and createtime !=''">
                 createtime ,
            </if>
            <if test="status != null">
                 status ,
            </if>
            <if test="intro != null and intro !=''">
                intro ,
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name} ,
            </if>
            <if test="starttime != null and starttime !=''">
                #{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                #{endtime} ,
            </if>
            <if test="createtime != null and createtime !=''">
                #{createtime} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="intro != null and intro !=''">
                #{intro},
            </if>
            <if test="bg_img != null and bg_img !=''">
                #{bg_img},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="SummweCamp">
        update summwe_camp
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="id != null and id !=''">
                id = #{id},
            </if>
            <if test="name != null and name !=''">
                name =#{name},
            </if>
            <if test="starttime != null and starttime !=''">
                starttime=#{starttime} ,
            </if>
            <if test="endtime != null and endtime !=''">
                endtime =#{endtime},
            </if>
            <if test="createtime != null and createtime !=''">
                createtime =#{createtime},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="intro != null and intro !=''">
                intro =#{intro},
            </if>
            <if test="bg_img != null and bg_img !=''">
                bg_img =#{bg_img},
            </if>
        </trim>
    </update>
    <update id="deleteByPrimaryKey"  parameterType="java.lang.Long">
        update summwe_camp
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="summweCampMap">
       select * from summwe_camp WHERE id=#{id}
    </select>
</mapper>