<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vcl.dao.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="login_name" property="login_name"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="create_time" property="create_time"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="getUser" resultMap="userMap">
        SELECT * FROM user where login_name = #{login_name}   order by id desc
    </select>

    <select id="query_user_list" parameterType="java.util.Map" resultMap="userMap">
        select id,login_name,name,gender,age,create_time,status from user
        <where>
            status <![CDATA[ <> ]]> -1
            <if test="login_name != null and login_name != ''">
                and instr(login_name,#{login_name}) > 0
            </if>
            <if test="name != null and name != ''">
                and instr(name,#{name}) > 0
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert_user" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="User">
        insert into user
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                id,
            </if>
            <if test="name != null and name !=''">
                name,
            </if>
            <if test="gender != null and gender !=''">
                gender ,
            </if>
            <if test="age != null and age !=''">
                age ,
            </if>
            <if test="login_name != null and login_name !=''">
                login_name ,
            </if>
            <if test="password != null and password !=''">
                password ,
            </if>
            <if test="create_time != null and create_time !=''">
                create_time ,
            </if>
            <if test="status != null">
                status ,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name} ,
            </if>
            <if test="gender != null and gender !=''">
                #{gender} ,
            </if>
            <if test="age != null and age !=''">
                #{age} ,
            </if>
            <if test="login_name != null and login_name !=''">
                #{login_name} ,
            </if>
            <if test="password != null and password !=''">
                #{password} ,
            </if>
            <if test="create_time != null and create_time !=''">
                #{create_time} ,
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <update id="update_user" parameterType="User">
        update user
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            <if test="name != null and name !=''">
                name =#{name},
            </if>
            <if test="gender != null and gender !=''">
                gender=#{gender} ,
            </if>
            <if test="age != null and age !=''">
                age=#{age} ,
            </if>
<!--            <if test="login_name != null and login_name !=''">-->
<!--                login_name=#{login_name} ,-->
<!--            </if>-->
            <if test="password != null and password !=''">
                password =#{password},
            </if>
            <if test="create_time != null and create_time !=''">
                create_time =#{create_time},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
        </trim>
    </update>

    <update id="delete_user">
        update user
        <trim  prefix="set " suffixOverrides="," suffix=" where id = #{id} ">
            status = -1,
        </trim>
    </update>

    <update id="password" parameterType="java.util.Map">
        update user
        <trim  prefix="set " suffixOverrides="," suffix=" where login_name = #{login_name} ">
            password = #{password},
        </trim>
    </update>
</mapper>